<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="notifications content">
        <h2>Notifications</h2>
        <ul>
            <% user.notifications.forEach(notification => { %>
                <li><%= notification.content %> - <%= getTimeSince(notification.createdAt) %></li>
            <% }); %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>